.container{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .todo-iput-card{
  min-height:400px;
  width: 300px;
  border: 1px solid black;
 display: flex;
 align-items: center;
 flex-direction: column;
 
 }
 .input-form{
  margin-top: 20px;
  display: flex;
  align-items: center;
  
 }
 .todo-input{
  height: 20px;
  width: 200px;
 }
 
 .content{
  height: 50px;
  border-radius: 5px;
  width: 270px;
  border: none;
  display: flex;
  align-items: center;
  background-color: rgba(203, 206, 206, 0.495);
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 .donebtn{
  background-color: green;
 }
 .h{
  height: 30px;
  width: 200px;
  border: 1px solid black;
  text-decoration: line-through;
 
 }
 .ouput-card{
  margin-top: 50PX;
 }
 .through{
  text-decoration: line-through;
 }
 .action-btns{
  display:  flex;
  gap: 10px;
 
 }
 .addbtn{
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  background-color: dodgerblue;
 }
 .time{
  color: rgb(151, 150, 150);
 }
 .filter-section{
  display: flex;
 }